.todos-dash {
    position: absolute;
    width: 1830px;
    height: 103px;
    left: 0px;
    top: 0px;

    background: #0078D7;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.signout-bot {
    position: absolute;
    width: 253px;
    height: 58px;
    left: 1401px;
    top: 23px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;


    border: 3px solid #C3DDF7;
    background: #0078D7;
    box-sizing: border-box;
    border-radius: 100px;
   
}

.myday {
    position: absolute;
    width: 253px;
    height: 58px;
    left: 163px;
    top: 281px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #000000;
}

.important {
    position: absolute;
    width: 253px;
    height: 58px;
    left: 155px;
    top: 400px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #000000;
}

.completed {
    position: absolute;
    width: 253px;
    height: 58px;
    left: 155px;
    top: 512px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #000000;
}
.todo-task {
    position: absolute;
    width: 500px;
    height: 61px;
    left: 550px;
    top: 200px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: black;
}
.todo-desc {
    position: absolute;
    width: 500px;
    height: 61px;
    left: 550px;
    top: 280px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: black;
}

.todo-date {
    position: absolute;
    width: 500px;
    height: 61px;
    left: 550px;
    top: 360px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: black;
}

.add-task-bot {
    position: absolute;
    width: 200px;
    height: 61px;
    left: 1150px;
    top: 360px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #C4C4C4;
}

.layout-list {
    position: absolute;
    width: 938px;
    height: 83px;
    left: 550px;
    top: 480px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: black;


}