
.retangle {
    position: absolute;
    width: 512px;
    height: 1024px;
    left: -6px;
    top: 0px;
    background: #0078D7;
}

.hello {
    position: absolute;
    width: 452px;
    height: 98px;
    left: 84px;
    top: 297px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 75px;

    color: #FFFFFF;
}

.todos {
    position: absolute;
    width: 253px;
    height: 58px;
    left: 43px;
    top: 18px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.detail {
    position: absolute;
    width: 454px;
    height: 113px;
    left: 65px;
    top: 439px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;

    color: #FFFFFF;
}

.signup-bot {
    position: absolute;
    width: 332px;
    height: 85px;
    left: 84px;
    top: 616px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    border: 3px solid #C3DDF7;
    background: #0078D7;
    box-sizing: border-box;
    border-radius: 100px;
   
}

.signin {
    position: relative;
    width: 717px;
    height: 85px;
    left: 615px;
    top: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #0078D7;
}


.use-email {
    position: absolute;
    width: 634px;
    height: 54px;
    left: 791px;
    top: 430px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #C4C4C4;
}

.fb-border {
    
    position: absolute;
    width: 116px;
    height: 107px;
    left: 761px;
    top: 257px;

    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100px
 
}

.gg-border {
    position: absolute;
    width: 116px;
    height: 107px;
    left: 916px;
    top: 257px;

    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100px
}

.in-border {
    
    position: absolute;
    width: 116px;
    height: 107px;
    left: 1071px;
    top: 257px;

    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 100px
}

.fb-icon{
    
    position: absolute;
    width: 116px;
    height: 107px;
    left:810px;
    top: 220px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.gg-icon{
    
    position: absolute;
    width: 116px;
    height: 107px;
    left:940px;
    top: 220px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.in-icon{
    
    position: absolute;
    width: 116px;
    height: 107px;
    left:1105px;
    top: 220px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #000000;
}

.email-input1 {
    position: absolute;
    width: 700px;
    height: 88px;
    left: 632px;
    top: 530px;

    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.pw-input1 {
    position: absolute;
    width: 700px;
    height: 88px;
    left: 632px;
    top: 658px;

    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.signin-bot {
    position: absolute;
    width: 332px;
    height: 85px;
    left: 824px;
    top: 798px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    border: 3px solid #C3DDF7;
    background: #0078D7;
    box-sizing: border-box;
    border-radius: 100px; 
}